@font-face {
	font-family: "CodecPro";   /*Can be any text*/
	src: local("CodecPro"),
	  url("./fonts/CodecPro-Regular.ttf") format("truetype");
}


html {
	height: 100%;
}

#root {
	height: 100%;
}

.layoutContainer {
	height: 100%;
	background-color: #ffffff;
	position: relative;
	/**
	* Basic CSS Media Query Template
	* ------------------------------------------
	*  Responsive Grid Media Queries - 1280, 1024, 768, 480
	*   1280-1024   - desktop (default grid)
	*   1024-768    - tablet landscape
	*   768-480     - tablet 
	*   480-less    - phone landscape & smaller
	* --------------------------------------------
	*/
	@media all and (min-width: 1024px) and (max-width: 1280px) {
	}

	@media all and (min-width: 768px) and (max-width: 1024px) {
	}

	@media all and (min-width: 480px) and (max-width: 768px) {
	}

	@media all and (max-width: 480px) {
		height: 100%;
	}
}

body {
	height: 100%;
	margin: 0;
}
