.blogCard {
	padding: 50px;
	.blogCardPreviewImgContainer {
		width: 100%;
		height: 250px;
		margin: auto;
		img {
			width: 100%;
			object-fit: cover;
			height: 100%;
			object-position: center;
			border-radius: 40px;
		}
	}
	.blogCardContent {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		align-items: center;
		gap: 20px;
		margin-top: 15px;
		padding: 0 40px;
		.blogCardTitle {
			font-weight: bold;
			font-family: 'CodecPro';
			font-size: 25px;
		}
		.blogCardCta {
			text-transform: uppercase;
			box-shadow: unset !important;
			width: 200px;
		}
	}
	/**
    * Basic CSS Media Query Template
    * ------------------------------------------
    *  Responsive Grid Media Queries - 1280, 1024, 768, 480
    *   1280-1024   - desktop (default grid)
    *   1024-768    - tablet landscape
    *   768-480     - tablet 
    *   480-less    - phone landscape & smaller
    * --------------------------------------------
    */
	@media all and (min-width: 1024px) and (max-width: 1280px) {
		padding: 0;
		.blogCardContent {
			margin-top: 0;
		}
	}

	@media all and (min-width: 768px) and (max-width: 1024px) {
		padding: 0;
		.blogCardContent {
			margin-top: 0;
		}
	}

	@media all and (min-width: 480px) and (max-width: 768px) {
		padding: 0;
		.blogCardContent {
			margin-top: 0;
		}
	}

	@media all and (max-width: 480px) {
		padding: 0;
		.blogCardContent {
			margin-top: 0;
		}
	}
}
