.homepageContainer {
    .heroBannerSection {
        .heroImage {
            
        }
    }
    .jumbotronSection {
        background-color: #888F70;
    }
    .featureSection {
        background-color: #D4DDB7;
    }
    .stepSection {
        background-color: #EFF0EC;
    }
    .testimonialSection {
        background-color: #888F70;
    }
    .demoSection {
        background-color: #D4DDB7;
    }
    .blogSection {
        background-color: #EFF0EC;
    }
    .contactUsSection {

    }
}
