.contactPage {
	.react-reveal {
		height: 100%;
	}
	.contactFormRow {
		height: 100%;
		width: 100%;
		.contactFormLeftCol {
			background-color: #888f70;
			.contactFormLeftContent {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 600px;
				padding: 80px;
				.heroLogoContainer {
					width: 150px;
					img {
						width: 100%;
						object-fit: contain;
					}
				}
				.contactSocialContainer {
					display: flex;
					justify-content: space-between;
					flex-direction: column;
					ul {
						list-style: none;
						padding: 0;
						li {
							margin: 10px 0;
							a {
								font-family: 'Nunito', sans-serif;
								font-size: 16px;
								font-weight: 600;
								color: #ffffff;
								display: flex;
								gap: 10px;
								align-items: center;
								&:hover {
									color: #3f4726;
								}
							}
						}
					}
					.socialLinks {
					}
					.publicInfo {
						.publicCtaFooter {
							font-family: 'Nunito', sans-serif;
							font-size: 16px;
							font-weight: 600;
							color: #ffffff;
						}
					}
				}
				.mapFooterText {
					font-family: 'Nunito', sans-serif;
					font-size: 16px;
					font-weight: 600;
					color: #ffffff;
					margin-top: 25px;
				}
			}
		}
		.contactFormRightCol {
			padding: 50px;
			.contactFormComponent {
				max-width: 500px;
			}
		}
	}
	/**
	* Basic CSS Media Query Template
	* ------------------------------------------
	*  Responsive Grid Media Queries - 1280, 1024, 768, 480
	*   1280-1024   - desktop (default grid)
	*   1024-768    - tablet landscape
	*   768-480     - tablet 
	*   480-less    - phone landscape & smaller
	* --------------------------------------------
	*/
	@media all and (min-width: 1024px) and (max-width: 1280px) {

	}

	@media all and (min-width: 768px) and (max-width: 1024px) {

	}

	@media all and (min-width: 480px) and (max-width: 768px) {

	}

	@media all and (max-width: 480px) {
		.contactFormRow {
			height: 100%;
			width: 100%;
			.contactFormLeftCol {
				background-color: #888f70;
				.contactFormLeftContent {
					height: 1110px;
				}
			}
		}
	}
}
